{% extends 'core/template.html' %}
{% load leaflet_tags %}



{% block title %} Map {% endblock %}

{% block content %} 

<h2>Map</h2> 

<input type="texbox" id="latitud">
<input type="texbox" id="longitud" >
{% leaflet_map "mapid" %}

<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        L.map.setView([51.505, -0.09], 13).addTo(detail.map);
        
        navigator.geolocation.getCurrentPosition(showPosition);

        function showPosition(position) {
            var lat_Text = document.getElementById('latitud');
            var lng_Text = document.getElementById('longitud');
            var lat = position.coords.latitude; 
            var lng = position.coords.longitude;
           
            
            lat_Text.value = position.coords.latitude; 
            lng_Text.value = position.coords.longitude;

            //L.marker([lat, lng]).addTo(detail.map);
            
            L.map('mapid' ,{center : [lat,long],zoom:13}); 

            L.circle([lat, lng], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 500
            }).addTo(detail.map);
        }
         
    }, false);
</script>

<label>{{long}}</label>

{% endblock %}
